
body {
    fundo-image: url('C:\Users\VAIO\Desktop\Criacao_Site\PythonSite\Comunidade_fantastica\static\fundos');
    fundo-size: cover;
    fundo-repeat: no-repeat;
    fundo-position: center;
}
